@font-face {
    font-family: Manrope;
    src: url(../fonts/Manrope-VariableFont_wght.ttf);
}
@font-face {
    font-family: "Open Sans";
    src: url(../fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}
/* TODO решить вопрос с разными шрифтами, т.к. один шрифт = возможно не прогрузится */

html {
    font-size: 12pt;
}
img {
    height: 100%;
    width: 100%;
}
* {
    margin: 0;
    padding: 0;
    font-family:"Open Sans", Tahoma;
}
a {
    font-family: Manrope, Arial;
    text-decoration: none;
    color: white;
    transition: color 250ms;
}
a:hover{
    color: #65e4a3;
}
a:active{
    color: white;
}
h1, h2, h3, h4{
    font-family: Manrope, Arial;
    font-weight: normal;
}
li {
    list-style-type: none;
}
.button-nobg {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-wrap: nowrap;
    transition: background-color 250ms, color 250ms
}
.button-usual {
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    text-align: center;
    transition: background-color 250ms, border-color 250ms, color 250ms;
    text-wrap: nowrap;
}
.button-caller {
    display:inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-wrap: nowrap;
    text-align: center;
    align-items: center;
    text-wrap: nowrap;
    transition: background-color 250ms, border-color 250ms
}
.button-usual:hover {
    background-color:#65E4A3;
    cursor:pointer;
}
.button-caller:hover {
    background-color: white;
    cursor:pointer;
}

.logo:hover {
    cursor: pointer
}
.button-nobg:hover{
    background-color: white;
    cursor:pointer;
}
header {
    display: flex;
    flex-direction: column;
    background-color: #0a2640;
    position: relative;
    width: 100%;
}
.header-container {
    padding: 3% 7% 3% 7%;
    /* TODO убрать */
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: start;
    position: relative;
    z-index: 10;
}
.header-container > div {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin-bottom: 2.5rem;
    z-index: 10;
}
.header-container > div:first-child {
    position: relative;
    overflow: hidden;
}
.circle-bg {
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    align-items: center;
    width: 100%;
    right:0px;
}
.circle-bg > svg {
    width: 40rem;
    height: 100%;
}
.header-container-logo > svg{
    height: 2.8rem;
}
nav {
    display: flex;
    flex-direction: row;
    font-size: 1rem;
    align-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 2vw;
    justify-content: right;
}
nav > div {
    display: flex;
    flex-direction: row;
    gap: 2vw;
}

nav > .button-usual {
    background-color: white;
    color: #0a2640;
    padding: 10px 42px;
    border-radius: 56px;
    font-weight: 800;
} 

.header-container-textattract{
    
    max-width: 34.5rem;
    color: white
}
.header-container-textattract > * {
    margin-bottom: 32px;
}

.header-container-textattract > h1 {
    font-weight: 300;
    font-size: 3rem;
}
.header-container-textattract > p {
    font-size: 1rem;
    color: #F1F1F1;
    line-height: 1.75;
}

.header-container-buttons {
    display: inline-block;
    flex-direction: row;
    flex-wrap: nowrap;
    
}
.header-container-buttons > a {
    margin-right: 18px;
    margin-bottom: 10px
}

.header-container-buttons > .button-caller {
    color: #0a2640;
    font-weight: 900;
    font-size: 1.3rem;  
    border: 2px solid #65e4a3;
    padding: 16px 60px;
    background: #65E4A3;
    border-radius: 56px;
}
.header-container-buttons > .button-caller:hover {
    background-color: white;
}

.header-container-buttons > .button-nobg {
    padding: 16px 60px;
    background: none;
    border-radius: 56px;
    font-size: 1.3rem;
    font-weight: 700;
    border: 2px solid white;
}
.header-container-buttons > .button-nobg:hover {
    background-color: white;
    color: black
}
.header-container-graphs {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    max-width: 32rem;
    width: 100%;
    flex-direction: row;
}
/* TODO анимации при наведении */
.header-container-graphs > .graph {
    width: 100%;
}
.header-container-graphs > .graph > svg {
    height: 100%;
    width: 100%;
    backdrop-filter: blur(15px);
}


.header-container > .line3 {
    align-self: center;
    align-items: center;
    overflow: visible;
    width: 100%;
}
.header-container-logowall {
    overflow: visible;
    width: 100%;
}
.header-container-logowall > svg {
    width: 100%;
    height: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    align-content: center;
}
.section-our-services { 
    
    margin-top: 64px;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.section-our-services > p{
    font-size: 1.2rem;
    margin-bottom: 12px;
    color: #777777;
}
.section-our-services > h2{
    font-size: 3rem;
    max-width: 900px;
}

.section-our-services-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 64px;
    width: 100%;
    gap: 60px
}
.section-our-services-cards-card {
    text-align: start;
    max-width: 19rem;
    margin-left: 10px;
    margin-right: 10px;
}
.section-our-services-cards-card > figure > img {
    width: 100%;
    height: 100%;
}
.section-our-services-cards-card > figure {
    padding: 1rem;
    border-radius: 24px;
    transition: background-color 250ms;
}
.section-our-services-cards-card > figure:hover{
    background-color: #d1d1d1;
    cursor: pointer;
}

.section-our-services-cards-card > figure > p:nth-child(2) {
    color: black;
    font-size: 1.45rem;
    font-weight: 500;
}
.section-our-services-cards-card > figure > p:nth-child(3) {
    color: #777777;
    font-size: 1.25rem;
}
.section-our-services-cards-card > figure > p {
    margin-bottom: 14px;
    margin-top: 14px
}
.section-our-services-cards-card > figure > a > div {
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-wrap: wrap;
    width: fit-content;
    margin-top: 32px
}
.section-our-services-cards-card > figure >  a {
    color: #0a2640;
    font-size: 1.35rem;
    font-weight: 700;
    margin-bottom: -12px;
}
.section-our-services-cards-card > figure > a >  div > div > svg {
    width: 1.7rem;
    margin-left: 1rem;
}
.section-our-services-cards-card > figure > a >  div > div {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.section-our-services-cards-card > figure >  a > div >  svg {
    margin-top: -0.75rem;
    width: 11.5rem;
    height: 1rem;
}
.section-our-services-cards-card > figure > a:hover {
    color:#65E4A3;
}
/* TODO цвет при наведении на ссылки */
.section-info {
    display: flex;
    flex-direction: row;
    margin-top: 210px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1140px;
    color: black;
    flex-wrap: wrap;
}
.section-info > div:nth-child(1) {
    max-width: 32rem;
    position: relative;
    margin-bottom: 110px;
}
.section-info > div:nth-child(1) > svg {
    position:absolute;
    max-width: 20rem;
    top: 40%;
    left: 160px;
}
.section-info > div:nth-child(2) {
    max-width: 31rem;
    display: flex;
    flex-direction: column;
    justify-content: left;
    
}
.section-info > div > h3 {
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 1.75;
    margin-bottom: 50px;
}
.section-info > div > ul {
    font-size: 1.3rem;
    margin-bottom: 50px;
}
.section-info > div > ul > li {
    list-style-type: none;
}
.section-info > div > ul > li > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    align-content: center;
    list-style-type: none;
    line-height: 3;
}
.section-info > div > ul > li > div > div >svg {
    width: 100%;
    height: 100%;
    overflow: visible;
}
.section-info > div > ul > li > div > div {
    width: 2.3rem;
    margin-right: 1.5rem;
    align-items: center;
    display: flex;
    overflow:visible;
}

.section-info > div > .button-usual {
    background-color: #0a2640;
    color: white;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 20px 60px;
    width: fit-content;
    border-radius: 56px;
}
.section-info > div > .button-usual:hover {
    background-color: #65E4A3;
    color:#0A2640;
}

/* --------- */

.section-info2 {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 150px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1140px;
    color: black;
    flex-wrap: wrap;
    margin-bottom: 120px;
}
.section-info2 > div:nth-child(1) {
    max-width: 28rem;
    position: relative;
    margin-bottom: 180px;
    width: 100%;
}
.section-info2 > div:nth-child(1) > svg {
    position:absolute;
    max-width: 23rem;
    top: 50%;
    left: 10px;
}
.section-info2 > div:nth-child(2) {
    max-width: 32rem;
    
}
.section-info2 > div > h3 {
    font-size: 2.25rem;
    line-height: 1.5;
    margin-bottom: 50px;
}
.section-info2 > div > ul {
    font-size: 1rem;
    font-weight: 500;
}
.section-info2 > div > ul > li:first-child {
    background-color: #0a2640;
    border-radius: 6px;
    color: white;
}
.section-info2 > div > ul > li > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    align-content: center;
    list-style-type: none;
    padding: 1.25rem 1.25rem;
    margin-bottom: 1rem;
}
.section-info2 > div > ul > li > div:last-child {
    margin-bottom: 0;
}
.section-info2 > div > ul > li > div > div >svg {
    width: 100%;
    height: 100%;
    overflow: visible;
}
.section-info2 > div > ul > li > div > div {
    width: 1.85rem;
    margin-right: 1rem;
    align-items: center;
    display: flex;
    overflow:visible;
}



.article-feedback {
    background-color: #0a2640;
    width: 100%;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: center;
    align-items: center;
    padding-top: 130px;
    padding-bottom: 100px;
    margin-bottom: 120px;
}

.article-feedback > div{
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
}
.article-feedback > div > div:first-child {
    flex-wrap: nowrap;
    overflow: auto;
}
.article-feedback-cards {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    gap: 0px;
    color: black;
    flex-wrap: nowrap;
    width: max-content;
}
@media (min-width: 1157px) {
    .article-feedback > div > div:first-child {
        display: flex;
        justify-content: center;
    }
}
.article-feedback-cards > .article-feedback-cards-card {
    max-width: 17.2rem;
    min-width: 15rem;
    height: fit-content;
    border-radius: 8px;
    background-color: white;
    padding: 40px;
    font-size: 1.5rem;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}
@media (max-width:1000px) {
    .article-feedback > div > .article-feedback-cards {
        justify-content: start;
    }
}
.article-feedback-cards > .article-feedback-cards-card > div {
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
    margin-top: 60px;
    max-height: fit-content;
}
.article-feedback-cards > .article-feedback-cards-card > div > div {
    display: flex;
    flex-direction: column;
    gap: 8px;

}
.article-feedback-cards > .article-feedback-cards-card > div > div > img {
    max-width: 100%;
    max-height: 100%;
}

.article-feedback-cards > .article-feedback-cards-card > div > div > p:first-child {
    font-size: 1.0rem;
    font-weight: 700;
    color:#0a2640;
}
.article-feedback-cards > .article-feedback-cards-card > div > div > p:last-child {
    font-size: 0.9rem;
    color:#0a2640;
}
.article-feedback-cards > .article-feedback-cards-card > div > div:first-child {
    max-width: 4rem;
    margin-right: 15px;
}
.article-feedback > div > div:nth-child(2) > h2 {
    line-height: 1.5;
    font-size: 3rem;
    max-width: 44rem;
    font-weight: 300;
}
.article-feedback > div > div:nth-child(2) > div > svg {
    overflow: visible;
    width: 4.5rem;
    height: 100%;
    transition: transform 250ms;
}
.article-feedback > div > div:nth-child(2) > div > svg:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.article-feedback > div > div:nth-child(2) > div {
    display: flex;
    flex-direction: row;
    gap:1.6rem;
    margin-top: 6rem;
    
}

.article-feedback > div > div:nth-child(2) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10.5%;
    margin-right: 6.5%;
    margin-bottom: 60px;
    flex-wrap:  nowrap;
}
.section-info-workers {
    max-width: 70rem;
    margin-bottom: 5rem;
    width: 90%;
}
.section-info-workers > div > img {
    width: 100%;
    height: 100%;
}
.section-info-workers > div:nth-child(2) {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.section-info-workers > div:nth-child(2) > h2 {
    font-size: 2.25rem;
    max-width: 32rem;
    margin-bottom: 30px
}
.section-info-workers > div:nth-child(2) >  ul {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 1rem;
    width: 100%;
    max-width: 49%;
    min-width: 300px;
    text-wrap: wrap
}
.section-info-workers > div:nth-child(2) > ul > li {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 35px;
    border-radius: 24px;
    padding: 1rem;

    transition: background-color 250ms;
}
.section-info-workers > div:nth-child(2) > ul > li:hover {
    background-color: #d1d1d1;
    cursor: pointer;
}
.section-info-workers > div:nth-child(2) > ul > li > div {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.section-info-workers > div:nth-child(2) > ul > li > div > p{
    width: max-content;
    font-size: 1.25rem;
}
.section-info-workers > div:nth-child(2) > ul > li > div > svg {
    max-width: 1.8em;
}
.section-info-workers > div:nth-child(2) > ul > li > .row {
    margin-top: 20px;
    background-color: #c4c4c4;
    height: 1px;
    width: 100%;
}

.article-about-blog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 2rem;
    margin-bottom: 4rem;
}
.article-about-blog > p {
    color:#777777;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}
.article-about-blog > h2 {
    font-size: 3rem;
    text-align: center;
    max-width: 65rem;
}

.article-about-blog-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 80px;
    gap: 15px;
    height: max-content;
    flex-wrap: wrap;
    
}
.article-about-blog-cards-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: start;
    align-items: start;
    max-width: 19rem;
    height: auto;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
    

}
.article-about-blog-cards > a {
    display: flex;
    height: auto;
    flex-wrap: wrap;
    color: black;
    padding-top: 10px;
    border:none;
    border-radius: 24px;
    transition: background-color 250ms;
}
.article-about-blog-cards > a:hover {
    background-color: #d7d7d7;
    color: black;
}
.article-about-blog-cards-card > div:first-child {
    display: flex;
    flex-direction: column;
    gap: 1.5rem
}
.article-about-blog-cards-card > div:first-child > div:first-child {
    max-width: 21rem;
}

.article-about-blog-cards-card > div:first-child > div:nth-child(2) {
    display: flex;
    
}   
.article-about-blog-cards-card > div:first-child > div:nth-child(2) > p:first-child {
    color: #0A2640;
    font-weight: 700;
    margin-right: 0.75rem;
}
.article-about-blog-cards-card > div:first-child > div:nth-child(2) > p:last-child {
    color: #777777;
}
.article-about-blog-cards-card > div:first-child > div:first-child > img {
    width: 100%;
}
.article-about-blog-cards-card > div:first-child > div:last-child > p {
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: 20px;
}
.article-about-blog-cards-card > div:last-child {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
}
.article-about-blog-cards-card > div:last-child > img {
    width: 2rem;
    height: 100%;
    margin-right: 10px;
}
.article-about-blog > .button-nobg {
    padding: 18px 60px;
    background: none;
    border-radius: 56px;
    font-size: 1.3rem;
    font-weight: 700;
    border: 2px solid #0A2640;
   color: #0A2640;
   margin-top: 4rem;
}
.article-about-blog > .button-nobg:hover {
    background-color: #0A2640;
    color: white;
}
.section-start {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
}
.section-start > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0A2640;
    border-radius: 12px;
    width: 87%;
    padding-bottom: 60px
}
.section-start > div > h4 {
    text-align: center;
    color: white;
    width: 90%;
    font-size: 3rem;
    max-width: 46rem;
    margin-bottom: 50px;
    margin-top: 60px;
    font-weight: 400;
}
.section-start > div > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 10px;
    width: 100%;
}
.section-start > div > div > input {
    font-size: 1.3rem;
    border: none;
    border-radius: 55px;
    padding: 1rem 4vw 1rem 2.25rem; /*4vw*/
    width: 100%;
    max-width: 18rem;
    color: black;
}
.section-start > div > div > input::placeholder {
    color: black;
}
.section-start > div > div > .button-caller {
    font-size: 1.3rem;
    color:#0A2640;
    background-color: #65E4A3;
    padding: 1rem 3rem;
    font-weight: 700;
    border: none;
    border-radius: 55px;
}
.section-start > div > div > .button-caller:hover{
    background-color: white;
}
footer {
    margin-top: 15vw;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: black;
    margin-bottom: 8vw;
}
footer > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 87%;
}
footer >  div > div {
    display: flex;
    flex-direction: column;
}
footer >  div > div:nth-child(1) {
    max-width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color:#777777;
}
footer >  div > div:nth-child(1) > div > * {
    margin-bottom: 50px;
}
footer >  div > div:nth-child(2) {
    font-size: 1.25rem;
    display: flex;
    flex-direction: row;
    
}
footer >  div > div:nth-child(2) > div {
    display: flex;
    flex-direction: column;
    margin-right: 6rem;
    
}
footer > div > div:nth-child(2) > div > * {
    margin-bottom: 3vw;
}
footer > div > div:nth-child(2)>  div > p {
    color: black;
    font-weight: 700;
}
footer >  div > div > div > div {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.notice {
    background-color: #65E4A3;
    border: none;
    border-radius: 24px;
}
footer > div > div:nth-child(2)>  div > div {
    align-items: center;
    position: relative;
}
footer > div > div:nth-child(2)>  div > div > .notice{
    font-size: 0.85rem;
    font-weight: 700;
    padding: 0.35rem 1rem;

    position:absolute;
    left: 5.5rem;
    top: 0.05rem
}
footer >  div > div > div > a, footer >  div > div > a , footer >  div > div > div > div > a {
    color:#777777
}
@media (max-width:1238px) {
    .header-container > .line2 {
        justify-content: center;
    }
    .header-container > .line2 > div {
        text-align: center;
        margin-bottom: 48px;
    }
    .header-container-graphs{
        display: none;
    }
}
@media (max-width: 500px) {
    html{
        font-size: 10pt;
    }
}
@media (max-width: 400px) {
    html{
        font-size: 8pt;
    }
}
@media (max-width: 1120px) {
    .section-info, .section-info2 {
        justify-content: center;
        margin-left: 10px;
        margin-right: 10px;
    }
    .section-info > div:nth-child(2) { 
        align-items: center;
    }
    footer >  div > div:nth-child(2){
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
}
@media (max-width: 700px) {
    .article-feedback > div > div:nth-child(2) {
        flex-wrap: wrap
    }
    .article-feedback > div > div:nth-child(2) > div {
        margin-top: 0.75rem;
    }
}
@media (max-width: 949px) {
    .section-info-workers > div:nth-child(2) {
        justify-content: center;
    }
    .section-info-workers > div:nth-child(2) > h1 {
        text-align: center;
    }
}
@media (max-width: 1219px) {
    .section-info-workers > div:nth-child(2) {
        text-align: center;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .section-info-workers > div > img {
        display: none;
    }
}
@media (max-width:589px) {
    .header-container > .line1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        width: 100%
    }
}
@media (max-width: 1062px) {
    footer > div {
        justify-content: start;
        flex-direction: column-reverse;
        align-items: center;
    }
    footer >  div > div:nth-child(2) > div {
        margin-left: 6rem;
    }
}
